@font-face {
  font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_2183697_1tev7kn9prk.eot?t=1615282339953');
  /* IE9 */
  src: url('//at.alicdn.com/t/font_2183697_1tev7kn9prk.eot?t=1615282339953#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAA+EAAsAAAAAHIwAAA81AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCGdgqldJ18ATYCJANsCzgABCAFhG0HgjcbkxczkpJWbLL/Q4K2hkrXg251bIXTZmoqbTaur9OptUpZRO5UZql0DuC2uJsgjTTHRv62gDaokTwsXqHgmuD5/7V2v8ya+umLRLFQiKRCgtBplRCtzcNCtJ+nbb67D6cYlH2Y6BKjwCbSmpJG7YyBa8JFwqradbmMYNCtiow0MPISwpl6ZSE5UachLbQhmd09kxXx6kwCaf89zQHZCyDA713LAy6QMFF1h7KSJZCfy/5s0sDsm0yxztFjAGETxtBXHK2ZFgAtwbgI81buhCf794BcAjauQgVoHy9XYJQkTD2z8j2W0xy0nRh4RPW37B8KCFAxovb3hUbwxEJMCqa7DZZa8PSUYhOiFb4CT8SoFvUAWXz6Dj8LcK+fv/qCRR9oHAM5oBOzqgGkz9GnUe44jBiw6qqB12hggBGwoCeRraqHsWikeSBqiOUHAKrhj3/ERRJk+eqq4cabaKqZmu12UMuLSy8evHj84tmLf2u+fHva7YasgRt97+f5u7zInhUTGrjwXfluzh3EJPiJkmbwESBIhIwQljAOWTlxmvy0T+olqSD18Z/nAU8bAlDH0FeAizggBjcBkICbBfCD+xUQBemBv3XIcAAYkPEAH8hEQABkKiAIMhMQAdkIyEA2AUIgzQALshsQBjkIcEBaAFnIJUAOch8QhzwAaJDHgDzkGUCB/AV4QP4BvPC+rpikzn8JgAK+T5eSwr5FxxtwAeC8Ad5Hw/+pW+NgaLRFTanxYvFFcH09cINIcUk7ij3VXMwb9PtDoVg/vovZuK2FpqGcJdOq613OH7O4Jp4wGZrq5ZAfJcUCgZA42e/ejMk6g3jSxosBWyiEX4lmLOWvnyeQCCAm1JECJQp/U+5pbruRcy7W+7TGvWrXaXKuWa+v0Usx9x+3SejQx8r7Jag0aH6V9eu4GpBl1YcLgLqHDoCDAu4nAuJ08XLHT/Yj+OZ/p2Hk80Aw6SmF49jVmibJfUbERLc1pSgBApkcpiqe1Zkvvf5VPRrEYtZ99OOVnWt61YTItqTzVP/UYfw9Huv5KbxISNDdX88aBnrCrr46v7a386QAbLREb1B1M6homF3TY4VdUyM7ct5ODyVqTrZVNu3sge0S3SsMJKBoK1ukBQ6NyC5mUmHIMNfzxuGtc1KYZgD3H1RWuX3mNI8sK3QOHTDqJfJyvLPSAcIT3ADf7pr5fWHs40a1QwXkQ7IoYbRlX81qCQATcDLodAP56Sk4wugeYP3TzFe9BuSMg0xZ39Ti24HRWQtctYzFhW71H7dS5iHuYdojFWwUlRUIJXuReANx/y4iSrmSCTY5h/jdGiJeQfgNQ15muyV/JOYl24732NFrh/btdKPIttvC5Y6UDv243o3eOs7PlfBNlpMyf8QYt3YOmdG5ZAluXUaWta+ahevn0XHlbPR40jDfnd2zfDntWOoubVs5k9bNxScH8pK5nUHCtI79S7mAG7gfWflQgjQT+01gnQquj9NZar1CdoSkzATTVYnhuHmRu+YGRB4RZi6oNIi5nAWb4Eghmzd8xdbxfNxYTAZETJ98M8rxYxPdPCJV1reAxzAwOl3ef6V6mVnxdNSTYSSmmbzSmKF2m0Gikqn5tz2jDz31Xo+4zyE3A3QSy8MS5QBcuk3ePJnuyfBE8h/R/9P4X1f9Q0JNxgGFOD7YMcD6g16/74S52B0kwplCdpZibXG9jBw/u+HMIRvp3CavEFSzGqcYVfmV+x0ckAYChQWXIyEc/f8puc095fCPfzA/F3wZlejpUtqhPbeiZXQNHKm9drEjNY0iuJ9D7IZlsPEPnO5VblmXpf/evGJkS2nRQ0pNwZBzgdZ1qhElNcbnJuAZoVQpyCFcsE7AV2oGbxwxTyABuVpqbZMWd3BuvprBjeVTOE9nmiG1rK8S7uYjHNwexKdeGDpU07qt+m8KGEKE7p9i6R2n6rRp7C3tKdNjWSkLZBJIhk6ahFpnTGC53qnQZg7oyVdD9fN4bXmlCgO9nGQGDPhEOJLkbPDhRzNr+fkxfP+9yW/89s47O0sE8HTl8zmuThXT81zMTpc3CU2ZgFUf5epKA2qvOXfG87aiHBFB7ZVAsnUY0f3QcvPGmpwU4isFWry23Sz0qnX9ej2VaJ0rm/LdOKRjH0sCjLm9NnLogF7bp9YYNZod36KazyqJbsH0flVYw6pz5kjXhpNtoHpW8gdWsev6O3SS91vNOKZTgRvkogGtryNMUJJQrd04xkqdgi6BrWoZ+Kg3a02srrmxuq66qsyKLk8BWHpHr1+nUHC5XL8QeUH71VyZhBs1lC2NiREqV68xKvXpkrGHRCaJZX5rRuw67WBXhJDFRSQ5neXYdy+frBs+fEzImIEDR5OzLYuBZD5k4g+lTA7ThXTomIV9PrYdu2zG5pf+z9gNDzxNpsc+k9aYOg2bv+Kj5oGUk09TY+w+7mAzGCTdT/v7N7PfYBKFwZnJepKwAF26hMC4ACMY8OVmf5xo+UFQiRThR+Ov6GNQtrSGFNcx03eyjTYBMzpsRjDgPayYIaGNlvxumi1oDCGodIogo4o+6KOqmPGDycnAPyIktvGvi7ysjE+JjXmS8lghTo1TXvbrFOobLKLJc93RG56HALhfeMGbI/YMStXNPkoT+bkqM5cYwWHDjAltinnfTaNjy571/dmNtQR8mESNw8K8SljKJjZWnWikiHSCkkozHkEjk6Pb3lbaFlKc9PTodLrWQ3UDu4mpPLRuxvTB+JvYDRsgGrLyIkVkE5R0D7HRSFZPlzKaaGehgSebgsxsqqt7LedNlvF+m7qAfDjr38CQ0utlnYWuE/hgfOeXnx20nejLF2EBc7lOFw6QUsTF7qjlxYTlW8SkrrmlWUeKGTn1FoasmdssY1jqc9g5LeKWrsu4Fu6GSvlG+bANyMxGyLjElKUVZhYa19gsa4eTBR0wc8xQXegxI8sYcm8KKvIt9sWn3AthGY3HdKFDY8ycHLIAT5f3lqVnZWbJ0nrLMzCyIIdjyeFr6GX31pojH74GH4tcrJ180gpRvKg0T0IMrYp8lX2whkNNX84tFm3KeVUdNZTIl5YK47zzmXumVzmbqtm1y6aB+5qDOS+rIocG5kt86/OxujpMGPOfCAZnEvSXVSWVsieuBKmsCi58SPQY7cGrMr1Pki0eVURsp8qCbFPAcldjs3Xejc3S9HEdVPWQBqsXt42Ymnzp8sABRuO+fVy0mAChveONG6N91xymfWd29s3j7du3/13ix/ib3D7cmxEPdlFEIkHh4haXxV1ehs4bHPcXP+zrSzH7Rogj+jIp374HQsrZw5PTOQ01qg3smodKFp/X8YIw+vI9nDq5Y5mmIwUS1D9OxIjukfCyyYuwY53Hrp7P9ZAtO+Jz4m1VLetRpSaufZa91fAAcDtv0SIjacJ4CyEs5Hg0W2KPLytPsEl74yM2bw66yt6r2Efb91YBWEs8J2T2YHxkbLctHjbZpmPLfnUlbbbwN63fCMs2EOrHrGWm8FIurr34VPFtv5aZSqYy0aUOcmbSlQa2U4vk2UED3kjmB02UX1H5Z6s4Y0UTnR/yOOzWuvPJ04c9zefb+QzhwULBod2jdJkrZnOK535/qLR4usbln3aP/fCVQUYefaryXKu7I9iLS3R72nZd3TvCykR73o4S6BvzS+lPo2Ynl3lvS7tFFpn4kyn56DcN2R8PB+giiT70xSaQXOmncnX2fKi8zuarB3LmrMgapd1zQdDhg0o6OfVn/5OBY6pG/327o0J2RRmQrTzPd6B7w7TERDG/ib9ztTRK3kWWP2a5RT6LM2vO/6WadRqOhq+tH3Ips7t/WIMHI69sniA/QfXUNdI79n6ElImSjCbeqiBGxlojHZIendrLvVZSIrjG3ed07o0WA9xr10vWeS2e3HHUZDSZjgZfO7rOkgXC5uGhCotFEYp9ElqYeOO4cY3IiD8ZjMgUWj6BgmexpI3ANASVfTJ2GQxdY/szpjTXGwYdY5pebaJvwWP1Aril1mcIVieNGjpkzmhy9Lx5fHpKaHv1NrWApxSOL7Wetd7qp577lGPmLOZDns5VUzYrFUEmdqyb3ZdzMaupZxT6vw1IizzZ4/U7fURBAMHkJFP79ve2Jeb/D1wGzZb+AxvM7k6Q89ygcDStsqM755F9jKMpVdjHoGhyiOUbxDK5ZINM0uRIFd7G5GK7XNyU8IRNs+zozQFk79eUtijMZpY+fuxVqykg+zbXzKcFbfGZzC1IoqSDYd4PZ2lUbM0AjRm9y6uF4TRaYeXRwW2ikjFF4rIQbcjgtjJ6qx+GkbJK7O6g1tvqwsHSV1JMP5ZpKKx/GWNW1xfEvFSbxfp9otmp/cBSG7ltUQk+D6wdFbL0Yv+dUSas7XJhIdpy7H6tAnC6nQ/B+H83BwUBqTGHcG/RIUpSnf4RTUYczk6qFeMtUG3FVkLyxWaU2HtpE0ooUrcW5UIp/hFLrqp8KMRPshu/6/7vdmUQcjWFKLovfq7HidyI6RIaljTJ/7V1SADGzxCMmP1XW1BcEd+T0S6E9b86jES3W/YgCl+tjqzsb57e/4J1PHevXaaxWW+n95BaH+BxJlWB+uaqmAYJXv8MP3pSVqR9rQi+3dz/s2oaTi3CQvDs1gAE6EbArVVjAu53T0pn1t7nSQFOugYPCCMT5R9DFvxj0x3whlTygL8kPQAC0IwdBD+wAwKMxgBgACMgHQM2bErHgQkHCYH/OaKB/710OgTCOyMB4RhKZ13AxwuZB3C58+JGQIrG7P9MsFwcq9CFOf0L2q9EgvQPZx+QGriY7WrzN/CAAqlCUL/bnaozTjibe8MNUmLTCX/C6spDf3e1Xrt34cpy7i3ghgCiMnvD2PtTDSxWuN2rReDZv4DWl4RIwmK/VT+AqMLeG1srmwzeD7xkWmxXZq2+tXYUVTuGzytYZtyjaki0lxldtK1PYKkVX6C7c2WNVuey8lXzUt4fHFbfEsntwosLqaiabpiW7bien5Pbr/+AgYMGD0nmDTXpIyjWj0OmFgeqTj+WNohNGCkoH16TWu84NaG0Y5u4YpxD+aqzjn8g7NyRdYmU87JBgmJaoZqueUZdFzazYE4Csl7eYJ27kLBU/OpE/Vfe11FFacaP35R+R5lCOvdU9sSWQkPl36MJmN6D1ENmWul20RAEVgOXOvqqkJHnjIOuKYQsuUMZpVDi1HLOKNrrAQAA') format('woff2'),
    url('//at.alicdn.com/t/font_2183697_1tev7kn9prk.woff?t=1615282339953') format('woff'),
    url('//at.alicdn.com/t/font_2183697_1tev7kn9prk.ttf?t=1615282339953') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('//at.alicdn.com/t/font_2183697_1tev7kn9prk.svg?t=1615282339953#iconfont') format('svg');
  /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wrench:before {
  content: "\e7e5";
}

.icon-image:before {
  content: "\e7df";
}

.icon-time-circle:before {
  content: "\e784";
}

.icon-team:before {
  content: "\e7b0";
}

.icon-Batchfolding:before {
  content: "\e7bf";
}

.icon-close:before {
  content: "\e7fc";
}

.icon-minus:before {
  content: "\e7fd";
}

.icon-poweroff:before {
  content: "\e78c";
}

.icon-custom-delete:before {
  content: "\e63b";
}

.icon-setting:before {
  content: "\e78e";
}

.icon-appstore:before {
  content: "\e792";
}

.icon-areachart:before {
  content: "\e7af";
}

.icon-file-text:before {
  content: "\e7b9";
}

.icon-thumbs:before {
  content: "\e796";
}

.icon-send:before {
  content: "\e6f4";
}

.icon-Ovalx:before {
  content: "\e603";
}

.icon-mail:before {
  content: "\e7de";
}

.icon-hanbaocaidanzhedie:before {
  content: "\e62f";
}

.icon-Feather:before {
  content: "\e8ab";
}

.icon-Feather1:before {
  content: "\ecca";
}

.icon-directions:before {
  content: "\e76e";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-home:before {
  content: "\e7c6";
}

.icon-folder-open:before {
  content: "\e7d1";
}

.icon-link:before {
  content: "\e7e2";
}

.icon-comment:before {
  content: "\e8e8";
}