.ht-font-size-12px {
  font-size: 12px;
}

.ht-font-size-14px {
  font-size: 14px;
}

.ht-font-size-16px {
  font-size: 16px;
}

.ht-font-size-18px {
  font-size: 18px;
}

.ht-font-size-20px {
  font-size: 20px;
}

.ht-font-size-22px {
  font-size: 22px;
}

.ht-font-size-24px {
  font-size: 24px;
}

