@font-face {
    font-family: "iconfont";
    src: url('//at.alicdn.com/t/font_2183697_mt9m9d6kdzh.eot?t=1617113674012');
    /* IE9 */
    src: url('//at.alicdn.com/t/font_2183697_mt9m9d6kdzh.eot?t=1617113674012#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAABFMAAsAAAAAH1wAABD+AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCHMAqqVKFPATYCJAN4Cz4ABCAFhG0Hglobzxkzo/aTtFJE9n9K0GwMdvpsZmVgERbv6bZYAo6OP5oZ3RgWG51B/bRu6rAty15WxSjQoC7SKT9RfH+qyzbB87Xf7+zeff7VIKk28ekkPJM00qyRbDqlk8xCJqrnNzxt899xcIpB6pTDarQBm0ijKCPP+MDWhNFYi0QXVS5at3aRLir9qwyAYbl/DU8q8HQl5NVUT+1GoCZfpp5Lck2uyJeqCAnXzRsggMB8DwAI/O9zdICpPfBFyN/vZ8sTT7yoeC/1aZnSS7GeZT8LQWYzzCkIZpee8OS+OAL+fq60gSuDJIpbYa7W5YV2//6fa99xdo8pPcwVEIzqVKgDynH2CgAKSJIxgBJQCFnhfCHAnOqT2g7IgCGjzPDLTgwF+FQLBY3JMtTAxaAHFTUWhuvKgfsUh0kZp3Bj7JhuDWonC1dv7Ryw7b1+9UpXLmgsQT+p8XlpFRh68PYGtjw0J21tVGcBX92BAC0ABvRYbLYaAA5Ii0f9uO+/USkAXbzgSV2et7/3f8a8mKmm6zFHr30OGXhx6sXgiwcvHr949uJPXW3s5dsz//6p893Rt4j3F/m9MfWjK7oMnh09TkwYlPTfeYA0Zw6kuEIIiKKIkcRAxiHBlhIcZU4IVODx8BFy3LkAyobqEQC1IEuqgAfYkpAGHiIkZIGHROV3/MNnJKSAxzESCsBjpwQbHqdKCOBxOhL9zbpBFKwHJAabA5KEbQEpwraCxGG9IA5sH0gCdgjEhQ2AlGCnQDRsEKQMuw+SgT0AsWCPQSqwZyAG9hvEg/1Bgg9PXYh4bCNIDvYSCVXA25llyANAtdNNH8As2Pvh7qWbd5LKsQ1rrICYb8o34gjqxlB9vZiiQuSbdj9Xu5xEZHtEYcjc/o1aV9S9e6lUG1mfUSvUCwNK40uNgl4d8Eml7rWCEap/lFfIGNi31F1MrUFYcu8xcnhTn2JxVL1Hod4bFnr1in5gBtdw9wAKnKsUy9oDipTio07BcgxVkxMgr76koUQ88Vo1YSrGTWJl69ymKSA4A6L7oxSEfE8GL77ssxYWEHP1vCsPQNTrTH+ryY5v8yj3w4ie0glHOGLbgxgexaX8Bn0CJa5s0LJsd8LAGJqmvuwkwGS9Oq57N/xjj4bvGZ1lPFq823pXUvdJslTbqTLt885JDT12ynGkdK3lWRYo0q6rRxn3tCKZoW+N3yRcX3qtqf3EWnrTrGpireft/BN2KhVhbPXE47tMUBskX79Zxej4xgrg/oZ1YL3Ca5nCNF/98sqH6H38NnzHExmKWEW6i2qdgV9Nwnx4zDSGs0lTJlCp2OmN18HtWTcsSATVAYbpzKtzbpoB0kXa22M/2CR9l/Z9+iHsz1h8/fbp6MydG8m1W6fCkzevblcg6q3JYXL8POg8M/rEDZRcGypd6R0ZnmhyPltW2bFH31muyS+VJVMH0lyxyisCO9KtFjJBhP3bslMytWqZFeO1690mhdvcJCRCibdhnZaqSZBDWQlfZKCE44TutZHvJqYhPWtWmJg9zyZlEb/wyYnZGoBI4ckgTQ2w/BScpfwFRLeHwYM3HacEEL791tDqkTu9iwh8jRw4vFulW1EObrA85gPWGfXiupOQ7GOiDmN6exVTpVytjEIhMH06h6mDGL+lWLS7flvYk4o2103XuPKQx2+t9FeBu3spme5p7fEX8315xPM+rISvsoO1h40+/skxbMTVKVPoxWls2uVZo+jpcbxfR9S7Pzsz3h99Y/p0fmWqP/XSzJH81Fi6fSDvmX81ziJr0/CLUiycnEWicqJBPlJrIUA7wjujSSUcVIojZBYmmHztQDRsXrDqCceRAVNwDy7uMpeZFIJNu5M4L4i25qPOYsoQ5ut7FsWWic5s5NpvLeB53Omd77j91fFpsHNPr933iRoGxVFHmtUwTo1kaPnIjd4b9gSHGr8KLGBMtlPnjFQHAF/8yA7vHh7oZFv2H7P/8/Rf3/zDEqv3Aippuv7Kneh2fDO8tc1f6w5ypYVKcdTiudX5C9nWlgXN8tLoYlFQiY9HJ7yqPBYeXXuHAakMUY34gijl2f936G3uVeA//qGiNX7dK7PDtXYTd2znhd4nOFt37mRPWy4lXisw9ZN2fPYPmr9p/PZryP69eMX0W2vENxgzhGIhFJl31TTaTJ9QQOCMiNQYLDCeME/hg2aEONsYp4jCwiy11mSjK4SAB0cI5+AQIbIFRziaWXIUrxaNe6YxVEy9a+Jxy08ttX9zEBHC+P5x6EBBmIfO3tJOmSKEcggoueiIbIeMo2YIkB+cCjnwjh18NVj70rnlxRkKOTDJMjJ0IJFlLfHz9+ejCx9eJM/enQvPvn0atIw6g/Hovjm2ctX8PGPUVJ6N5yCIjh9l66jj1B5qbQ6es0mJqbB2JRDdOogp/B35ZWdNesL0qwqvfqMwvWnm3bbzuSbzHuYzoZ8mvOctWUypcOdKj9+xc2+ZOVrIRlu3qPozWZMfqBkeS05Ex0t+V9/cz5aB46OyP6hJfT/cobZnS2Ga8qmADeIA1n5LKCPX+qVZ66cpNWYH9hm+aKaBF3axtQxdG5sa+1VR1UnFtVniMERgtQowJA7B9CQq6aHlTY+EOEM1NhNtqnF46tIlHE5TI9XGP3vaK732nF53OBzElo/oYfmEDH6nDxEa3Hmi8HHnV2u4bcXIKPHPKyAd5y8Jogvb7OiKHjvcUZabwi0EE50aRWZ4K2+OIhG9lLdGkqnMr0s9K/XJ5WT7OW8g24GEGy/JKPCC2Qfxv34V+qFZqx51RnwS2GaVI1FZXl+q6wfYOUXHpB3z9PRSI8hM/36+LOIeTgmSure6z5P4WrmOgvO26SCzzKinU5OZBiTeOiFizSNoNv7gr18O93I3ADH2vps2isVaf2l0hig9ZB1NyKd5t1MEfn4cybr1aol3pYSUNq8onpC+vmvvGROlkIFmZ6HoLLKp714aWtHZOYkxqalpIjovcAxD00AC7qGgr8QidXnenNqhoMkrZ2976fSMUvXAVqN57DBjvea/jkWrh+QPBNQ0Y6af0eFfAwY6TdCP//1bRnbA9t/roCcRi+HBQZjAYgn45d2hDE3XfUOwSAyh431W16okAwEgxnJc8xUNzImA1CaDGqhwY8ZBqojAHPSrZh5Lz0CwWa6Iemd9UHoXm4EPPkVDfwlGqP63Bb0sCY8J9XsS81jMY4dJLtP/c3N05eJFKf/uVkwbFqB9Yrpu89zfzFbMO4bn0i1FCcvVwGSA1BGB2cyvmomhZTvfn9tSjoAPM7BxWN1K5uRR9PDak/oNFicQKMJK86rYFSQIAjGthDjfOEKOjfQGdBOS2uQ8yqYRnnQTutEM4LatuYQhSQjmdAxCfWFhJUFANOPPga1MYbdoYGtFxWsR0ypk/vT1UP/BOacqooBQKRzOsZzEteD2fPp+Bb8H/vTJtkEWy5mMxk3PXVKdWwlWbeehit6BXgXKIyZX6ojCXlqvkKirTKYkD/AGRq6k6Wibi0RbRB2bRQNbQPwgSRibkZCh3WetMBiHpmdCWr92hdtxNVnNuNcNZzlmO+K67zHIavVxhVu7n5aajKbj4kQ1wrjEhERhbI0oHkLTk6m6HKKqmFKTo/X6EFWC7upAwaIZq7nh3LxUPtJe7PUq6VApFZu1ioplbU1+VeLdjqQJ8jhJfJr8WOdV8tYSSvnKmXRceij5ZbFX+7A0vmNlGlRRAdmBtE/Af7fBv8nFAoHpLAICYTG4+CHywK9uJSfYn9L3eUwcc5CK0tUqgViLvnfcvGf1ItjQOnhDYwSuGLIT6YkevNzUqFb39dHgZQjgGMtu3JjouP4wDZw03DGV2dfX/y5yKPwmrZZ20/PBXgyJRDAHBywBtTzL4oaBE068h3WOGKnOk+dZR8Ic6w4yCiid0XHUqlLpZkrpQwnZh1l2kRN/5x72WMvy5WUY4MMNYVyi75iIl2Y7xAgNn7xuEc1GuPKow8m3xeXkR0XysJBEo3+nM/i3dgvv5YW3A7cEsNrd0zy+MTy/IMIgqMF1bdvmcpVyQNxn5B4oBiBY5znRzzHEIeIuw7IOq0FBEf4YiRoMHm8C3tiNGwBHOWkDKYYZc2nDpU8fx5ANJDbKJsGDEqaktLsNKK05sCjJpfENf5HLdNEVqVOSlDqZO731QyqVEqC4ED2r42maj9GHyDmUwTq8b4IiYfU8avaCrw+X6GwtU9JOu+e+c42LmknokZz3v9tFWZar2B80cl2N5zgSvP/tBJZSn5ZHeOo9LzrffmfsLTRL42PFRBPfVCUNHXEVXkgtYZkG8K/USy3DbR9KrlN8ZE3U+asTJ+Tsv8jK/CAVWNnfG04Nm1Q88ffby4XCKxLnJMkFHxN8ryMHmc7zMfvsWSfwdh4i3S+tSCeaS507/+8K+UY5Ve6TU9k2mDDayb3Khpiav5CVFiF9ahlvH3rfU0CCo9Qa5loXYvwGNQFEPTp9gHYtN5d1jdbX2nrA1y6jXbueu/G50VO7j2nUGs0x12vHNgb9ApzeTjexTid2g/7n6Eg4/ZQpehHAfcp0SeLo/gdipk4X2wXJESzpZCxQqUaGNpiyq15vEG4dklcH+t4Ci2WLwS2Zd5VAYtSE9rb5E9GJCxf6EGLcQmQ7ZSymhDM1b9y5cbfqZQueUrXUZVaFpwtkmGGc4QUkQMdHGR2plxLNY73hvyQqKQcv++1+xnWlOyMkajTW119jiEz7G7oD8u0NTVXafwDJz1Vik3mtEb5zATZOMpnZnFqV2GziiTbzhCL+ZiHfbGJzbkMi3i2BZ055QfNcI/zmIGysN2dd4m7w4x4/flbcSiDpNk3rY8QEyauZkh6FCVrAwm+ted6hpY1yLfwutRx04vEZRcdaAr2jIXHkSkYOoyVISGj10zBeWATdbQ7YWeEBdHX8bMLxBFVG5Us/rawy3e+lTMtT9nHnseuBrtxr59Jc3EIwrkwsjMt22uOtgYJWcTLg7cfv19p4JNbCzy8cMhPVm/6Elfv0Mw4LO/ud+d4FOORIP4TwcBwVqIpWRVJKWnhAX2CtQGuYfkmvyOJBW0UUSdkghTjckDTXqxIwkC9ysLvh31sGy3pTIMat4s4Xtco/kRdroDRbeM1GLAIfGQaTSq8akLAi4qlx66DSV44I911nS2y2pZ5FTvp37f8jmnc76akeNMu38hthF50UVBUo7zHRgBTuj/+PocdX79emtg5a+FdV7cTMaktwCzXgG7vBe8z0lPtdNbPK2pteM3ufrXGoIhI3qIYYBrXMtgjoITaDBmf7NJP3HJBmRFDGA5p0MVuRsHW2JsYhEQadJ4ZB92Zb5LwL2IxKZvtMKHo/A+q22z97ZGhBraqj8oayNRNl5tf8RLONmoXx0dYvuHjKar1Y/St7RQZX4VJ2zUbEKsuU1IvWAWIk1TL9wcjCUdreL5f2u+vCUOrMOmKGFmf+WqmOvt5QtkeXWejVf6LZRs0pa/3t+wsu/viVtYWVAv9Ks9Jau+Isu2ZDhGWVtSJTUl6EhWgUk9LGN/cHIwuuQGF7bym2ZlXponkz7RXK6lunfmerE0gUGoPF4QlEEpmCkqpu2q4fxmle1m0/Tq4kai/z8r/VjEH0AWeNF7et5tbHONozsnFDn3SDM3EfAMyNZxMxEOh0/qDFOEux9rkZmkgFw+Tztkxa2oPJ2guzLUJpXiNCMC4QyZY50W0bZTGmzSVr4xyUaUN2zAUHGdXcUarKoCDXw7edjoeB5u7jrdO50mS0r3U+uRa3gvELtDjwxIt0Pbs8w4inXAbbAh44Sjjrmh08pxZ5aFYO4421VEKWTgcA') format('woff2'),
        url('//at.alicdn.com/t/font_2183697_mt9m9d6kdzh.woff?t=1617113674012') format('woff'),
        url('//at.alicdn.com/t/font_2183697_mt9m9d6kdzh.ttf?t=1617113674012') format('truetype'),
        /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
        url('//at.alicdn.com/t/font_2183697_mt9m9d6kdzh.svg?t=1617113674012#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-edit-square:before {
    content: "\e791";
}

.icon-like:before {
    content: "\e7c8";
}

.icon-github-fill:before {
    content: "\e885";
}

.icon-wrench:before {
    content: "\e7e5";
}

.icon-image:before {
    content: "\e7df";
}

.icon-time-circle:before {
    content: "\e784";
}

.icon-team:before {
    content: "\e7b0";
}

.icon-Batchfolding:before {
    content: "\e7bf";
}

.icon-close:before {
    content: "\e7fc";
}

.icon-minus:before {
    content: "\e7fd";
}

.icon-poweroff:before {
    content: "\e78c";
}

.icon-custom-delete:before {
    content: "\e63b";
}

.icon-setting:before {
    content: "\e78e";
}

.icon-appstore:before {
    content: "\e792";
}

.icon-areachart:before {
    content: "\e7af";
}

.icon-file-text:before {
    content: "\e7b9";
}

.icon-thumbs:before {
    content: "\e796";
}

.icon-send:before {
    content: "\e6f4";
}

.icon-Ovalx:before {
    content: "\e603";
}

.icon-mail:before {
    content: "\e7de";
}

.icon-hanbaocaidanzhedie:before {
    content: "\e62f";
}

.icon-Feather:before {
    content: "\e8ab";
}

.icon-Feather1:before {
    content: "\ecca";
}

.icon-directions:before {
    content: "\e76e";
}

.icon-user:before {
    content: "\e7ae";
}

.icon-home:before {
    content: "\e7c6";
}

.icon-folder-open:before {
    content: "\e7d1";
}

.icon-link:before {
    content: "\e7e2";
}

.icon-comment:before {
    content: "\e8e8";
}
